.grid {
  margin-right: -0px;
}

.itemCard {
  width: 500px;
  margin-left: 0px;
}

.item-page {
  max-width: 700px;
}

select {
  width: 300px;
}

.itemCard {
  width: 500px;
  margin-left: 0px;
}

.item-page {
  max-width: 700px;
}

.borrowForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: baseline;
}

select {
  width: 300px;
}

.itemCard {
  width: 500px;
  margin-left: 0px;
}

.item-page {
  max-width: 700px;
}

.product-form {
display: flex;
justify-content: center;
gap: 20px
}

.cursor {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

  .modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }


.display-block {
  display: block;
}

.display-none {
  display: none;
}

close-button {
  position: absolute;
  top: 0;
  right: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }