.categories {
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid {
    margin-right: -0px;
  }
  
  .itemCard {
      width: 500px;
      margin-left: 0px;
  }

  .item-page {
      max-width: 700px;
  }

  search-form {
    
  }


.header {
    display: flex;
    justify-content: space-between;
    width: 1000px;
   
}